.grid {
    width: 300px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
}

.unediv div{
    width: 20px;
    height: 20px;
}

.grid div{
    width: 20px;
    height: 20px;
}

.newkey {
    background-color: Blue;
    border-radius: 10px;
}

.truekey {
    background-color: green;
    border-radius: 10px;
}

.falsekey {
    background-color: red;
    border-radius: 10px;
}

.upkey {
    background-image: url('images/up.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.leftkey {
    background-image: url('images/left.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.downkey {
    background-image: url('images/down.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.rightkey {
    background-image: url('images/right.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}